.filter-row {
  align-items: center;
  gap: 10px;
  display: flex;
  overflow: hidden;
  padding-left: 122px;
}

.filter-row .swiper {
  padding: 0px 0px;
}

.filter-row .swiper-button-next {
  right: 0;
  justify-content: end;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.34) 0%,
    rgba(255, 255, 255, 1) 39%,
    rgba(255, 255, 255, 1) 100%
  );
}

.filter-row .swiper-button-prev {
  left: 0;
  justify-content: start;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 61%,
    rgba(255, 255, 255, 0.34) 100%
  );
}

.filter-row .swiper-button-next,
.filter-row .swiper-button-prev {
  -ms-box-shadow: 0 2px 10px -5px #000000b3;
  -o-box-shadow: 0 2px 10px -5px #000000b3;
  z-index: 1;
  pointer-events: auto;
  background-color: transparent;
  border: none;
  border-radius: 0;
  align-items: center;
  width: 38px;
  height: 38px;
  display: flex;
  position: absolute;
  top: 22px;
  box-shadow: none;
}

.filter-row .swiper-button-next:after,
.filter-row .swiper-button-prev:after {
  color: #ec7200;
  font-size: 20px;
}

.filter-row .swiper-button-prev.swiper-button-disabled,
.filter-row .swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.filter-row .label {
  font-weight: 600;
}

.slider-wrapper {
  flex: 1;
  min-width: 0; /* 🔥 VERY IMPORTANT */
}

.filter-swiper {
  width: 100%;
}

.slider {
  display: flex;
  overflow-x: auto;
}

.tag {
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 7px 16px;
  font-size: 14px;
  transition: all 0.3s;
}

.tag:hover {
  background: #f1f1f1;
  color: #000000;
  border-color: #ddd;
}

.filter_left {
  position: relative;
}

.filter-toggle {
  margin-top: 10px;
}

.search-bar .filter-toggle button {
  background: none;
  border: none;
  color: #4b82da;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 0;
}

.search-bar .filter-toggle button:hover {
  text-decoration: underline;
}

.search-bar {
  padding: 12px;
  background: #fff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.search_flex {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.quick_search_top {
  position: relative;
}

.quick_search_top i {
  color: #888;
  pointer-events: none;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.search-bar input {
  border-radius: 6px;
  outline: none;
  width: 500px;
  font-weight: 500;
  padding: 6px 10px 6px 30px;
  border: none !important;
}

.smart-search .quick_search_top {
  position: relative;
  margin-bottom: 10px;
}

.smart-search .quick_search_top i {
  color: #888;
  pointer-events: none;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
}

.smart-search .quick_search_top input {
  border-radius: 6px;
  outline: none;
  width: 100%;
  padding: 6px 10px 6px 43px;
  border: none !important;
}

.popular-searches h5 {
  font-size: 1.1rem;
}

.popular-searches ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-searches li {
  cursor: pointer;
  color: #333;
  padding: 3px 1px;
  font-size: 16px;
  transition: background 0.2s;
  position: relative;
}

.popular-searches li:hover {
  color: #ec7200;
}

.popular-searches li:before {
  content: "";
  color: #9f9f9f;
  margin-right: 15px;
  font-size: 13px;
  font-style: normal;
  font-family: bootstrap-icons !important;
  font-weight: 400 !important;
}

.active_filter {
  color: #ec7200;
  font-size: 10px;
  position: relative;
  margin-left: 4px;
}

.search-bar button {
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 60px;
  padding: 6px 14px;
  font-weight: 500;
  font-size: 15px;
}

.search-bar button.filter-btn {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 7px;
}

.search-bar button.filter-btn span {
  color: #ffffff;
  width: 25px;
  height: 25px;
  background: #ec7200;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
}
.search-bar button.filter-close,
.filter-close {
  color: #aaa;
  padding-top: 0;
  padding-right: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  background: transparent;
  border: none;
}

.tag small.selected_label {
  font-weight: 300;
  color: #3f3f3f;
  margin-right: 4px;
  margin-left: 0;
  font-size: 14px;
}

.search-bar button.filter-close svg,
.filter-close svg {
  fill: rgb(59, 59, 59);
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.filter_btn_top {
  position: absolute;
  left: 0;
  top: 0;
}

.location-suggestions {

}

.location-suggestions {
  max-height: inherit;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline;
  overflow: inherit;
}

.location-suggestions li {
  cursor: pointer;
  padding: 14px 5px;
  border-bottom: 1px solid #eee;
}
.location-suggestions li:hover {
  background-color: transparent;
}

.label-text {
  font-size: 14px;
}

/* Modal */
.filter-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.filter-modal {
  background: #fff;
  border-radius: 12px;
  max-width: 650px;
  margin: 40px auto;
}

.filter-header h3 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 700;
}

.filter-body {
  max-height: 65vh;
  padding: 20px;
  overflow-y: auto;
}

.filter-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.filter-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  padding-top: 20px;
}

.filter-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.filter-item.condition-field ul {
  display: flex;
  gap: 35px;
}

.filter-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}

.filter-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter-item ul li {
  padding-bottom: 12px;
}

.filter-item ul li:last-child {
  padding-bottom: none;
}

.cfs-select-input.form-select:disabled {
  opacity: 0.3;
  background-color: #f1f1f1;
}

.filter-item .search-box .secrch_icon {
  position: relative;
}

.filter-item .search-box .secrch_icon i {
  color: #888;
  pointer-events: none;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
}

/* .search-filter.filter-item {
    background-color: #f1f1f1;
    margin-top: -5px;
    padding: 15px;
    padding-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
} */

.filter-item .secrch_icon .cfs-select-input {
  margin: 0;
}

.filter-footer {
  justify-content: space-between;
  margin-top: 20px;
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.filter-footer .search {
  background: #ec7200;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
}

.filter-footer .clear {
  background: none;
  border: none;
  color: #555;
}

.filter-container-mm {
  position: relative;
}

.tag small {
  font-size: 13px;
  color: #888;
  margin-left: 4px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .search-bar input {
    width: 100%;
  }
  .search-bar {
    padding: 12px 0;
  }
}

@media (max-width: 767px) {
  .search-bar input {
    width: 100%;
  }
  .search-bar {
    padding: 10px 0;
  }
  .search-bar button.filter-btn {
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
  }
  .filter-modal {
    margin: 40px 12px;
  }
  .filter_btn_top {
    display: inline-block;
  }
  .filter-row .swiper-button-next,
  .filter-row .swiper-button-prev {
    display: none;
  }
  .filter-container-mm {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }
  .filter-row {
    display: block;
    padding-left: 115px;
  }
  .filter-row .label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 17px;
  }
  .mobile-item {
    padding-bottom: 4px;
    font-size: 15px;
  }
}
